* {
    box-sizing: border-box; /* pour maîtriser width et flex-basis */
}

html {
    display: flex; flex-direction: column; /* correction bug IE de min-height non appliqué à body */
}

body {
    display: flex; /* crée un contexte flex pour ses enfants */
    flex-direction: column; /* affichage vertical */
    min-height: 100vh; /* toute la hauteur du viewport */
    padding: 1em;
}

.wrapper {
    flex: 1 1 auto; /* occupe la hauteur restante */
    display: flex; /* crée un contexte flex pour ses enfants */
    justify-content: center;
}

.hide {
  display: none;
}

/************ LOGIN PAGE ************/
.loginPanel {
    flex: 1 100%; /* in order to take the full width of the wraper */
    display: flex;
    flex-direction: column;
    text-align: center;
}

#loginPanel h1 {
    font-family: Sans-Serif;
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm input {
  width: 200px;
  margin: 5px auto;
}

#playButton {
  padding: 15px;
  background-color: dodgerblue;
  color: white;
  font-size: 150%;
  border-radius: 8px;
}

#pseudo {
  padding: 10px 20px;
  border: 2px solid #4a86e8;
  border-radius: 7px;
  color: rgba(0,142,198,1);
  background: rgba(252,252,252,1);
  box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2) inset;
  text-shadow: 17px 1px 0 rgba(255,255,255,0.66) ;
}


/************ GAME AREA ************/
.gameArea {
    display: none;
    flex: 1 100%; /* in order to take the full width of the wraper */
    flex-direction: row;
    /*text-align: center;*/

    /*background-color: darkblue;*/

    /*display: none;
    width:80%;
    margin: 5px auto;*/
}

#infosLeft {
    background-color: green;
    flex-grow: 1;

    /*overflow: auto;*/
    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: stretch;
    justify-content: flex-start;

}

#infosRight {
    background-color: yellow;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: stretch;
    justify-content: flex-start;
}

#game {
    /*background-color: red;*/
    flex-grow: 2;

    display: flex;
    flex-direction: column;
    flex: 1 auto;
    align-items: stretch;
    justify-content: flex-start;
 }

#canvas {
    background-color: darkorange;

}

#ctx {
    display: block;
    margin: 0 auto;
}

#spellIndicatorsArea {
    background-color: darkturquoise;



    display: flex;
    flex-direction: row;
    flex: 1 auto;


    justify-content: center;
    align-content: center;
    align-items: flex-start;

}

#spellIndicatorsArea canvas{
    margin: 10px 10px;
}



#infosLeft {
    display: flex;
    flex-flow: column;

    justify-content: flex-start;
    align-content: center;
    align-items: stretch;
}

#info {
    background-color: cadetblue;
    flex: 0 1 auto;
    min-height: 30%;
}

#chat {
    flex: 1 1 auto;

    display: flex;
    flex-flow: column;

    justify-content: flex-end;
    align-content: center;
    align-items: stretch;
}

#chat-form {
    flex: 0 1 auto;
    min-height: 30px;
    align-self: stretch;
    background-color: darkorange;

    display: flex;
    flex-flow:  row;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: stretch;
}

#chat-input {
    flex: 1 1 auto;
    min-height: 30px;
}

#sendButton {
    flex: 0 1 auto;
    min-width: 20%;
    min-height: 30px;
}

#chat-text {
    flex: 1 1 auto;
}

#chat-text div {
    padding: 3px 8px;
}